/* fonts: */
@font-face {
    font-family: 'gonzi';
    src: url('./fonts/GonziPERSONALUSE-Regular.otf');
}



@font-face {
    font-family: 'grotley';
    src: url('./fonts/Grotley-Regular.otf');
}



@font-face {
    font-family: 'sobby';
    src: url('./fonts/11S0BLT_.TTF');
}


@font-face {
    font-family: 'dinDins';
    src: url('./fonts/DIN_Schablonierschrift_Cracked.ttf');
}


@font-face {
    font-family: 'whata';
    src: url('./fonts/Wattauchimma.ttf');
}








/* header 2: */
@font-face {
    font-family: 'beauty';
    src: url('./fonts/header2/BeautyHandwriting-Regular.otf');
}




@font-face {
    font-family: 'celestine';
    src: url('./fonts//header2/Celestine\ Demo.otf');
}



@font-face {
    font-family: 'dogma';
    src: url('./fonts/header2/Dogma\ Script.otf');
}



@font-face {
    font-family: 'marsha';
    src: url('./fonts/header2/Marsha\ Sithnoy.otf');
}



@font-face {
    font-family: 'rollanisa';
    src: url('./fonts/header2/Rollanisa.otf');
}



@font-face {
    font-family: 'aleanderica';
    src: url('./fonts/header2/Aleanderica\ Regular.ttf');
}



@font-face {
    font-family: 'bedda';
    src: url('./fonts/header2/Bedda.ttf');
}



@font-face {
    font-family: 'garelliye';
    src: url('./fonts/header2/Garelliye\ Regular.ttf');
}


@font-face {
    font-family: 'gold';
    src: url('./fonts/header2/Goldsthink.ttf');
}




@font-face {
    font-family: 'rund';
    src: url('./fonts/header2/rundschrift.ttf');
}



@font-face {
    font-family: 'semilir';
    src: url('./fonts/header2/Semillir.ttf');
}



@font-face {
    font-family: 'zai';
    src: url('./fonts/header2/zai_RoyalPTypewriter1933.ttf');
}













